@{
    ViewBag.Title = "About";
}

<div class="text-center" style="padding:15% 20%;">
    <h2>Acerca de nosotros</h2>

    Somos una empresa anonima, lo que nos importa es tu desempeño y deseamos inculcar un buen abito de organizacion.
    <p>Sabemos el trabajo y la frustración que genera tener una mala organización de tus proyectos personales o comerciales
    por eso desarrollamos esta herramienta para ti, ¡Esperamos y sea beneficiosa para ti!</p>
</div>
