@{
    ViewBag.Title = "About";
}

<div class="text-center" style="padding:15% 20%;">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
</div>
