@{
    ViewBag.Title = "Contact";
}
<div class="text-center" style="padding:13% 20%;">

    <h2>Contacto.</h2>
    <br />
    <address>
        Dudas o aclaraciones<br />
        contactenos al<br />
        T: 01-800-8090-110
    </address>

    <address>
        <strong>Soporte:</strong>   <a href="#email">pm.soporte@projectmanager.com</a><br />
    </address>
</div>