@{
    ViewBag.Title = "Index";
}
<div class="text-center" style="padding:15% 20%;">
    <h1 class="cover-heading">ProjectManager.</h1>
    <p class="lead">Bienvendio al manejador de proyectos <strong>ProyectManager</strong>, registra tus clientes y proyectos para tener un mejor control de ellos. </p>
    <p class="lead">
        <a href="@Url.Content("~/Content/MU.pdf")" class="btn btn-lg btn-secondary">Manual de usuario</a>
    </p>
</div>